.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  margin: 0 0 28vh 0;
}
.item{
  height: 20vh;
  align-self: center;
  justify-self: center;
  width: 80%;
}
.topic{
  height: 100vh;
  overflow-x: hidden;
}
.texto{
  padding: 0 10px;
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery img {
  align-self: center;
  justify-self: center;
  width: 100%;
}
.gallery img:hover{
  opacity: 0.3;
}
.chart{
  position: relative;
  justify-self: center;
  width: 80%;
}
.chart i {
  position: absolute;
}
.center{
  position: absolute;
  font-size: 30px;
  top: 55%;
  left: 45%;
}
@media (max-width: 600px){
  .gallery{
    grid-template-columns: 1fr;
  }
  .container{
    grid-template-columns: 1fr;
  }
  .item{
    height: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow: hidden;
  }

}
