<div class="topic">
  <div class="texto">
    <h2>ngx-charts</h2>
    <hr>
  </div>
  <div class="container">
    <div class="item">
        <h4>Bundle size</h4>
        <hr>
      <ngx-charts-pie-chart class="test"
                            [scheme]="colorScheme"
                            [results]="single"
                            [gradient]="false"
                            [legend]="true"
                            [doughnut]="true"

                            (select)="onSelect($event)">
      </ngx-charts-pie-chart>
    </div>
    <div class="item">
      <h4>Number of stars in GitHub</h4>
      <hr>
      <ngx-charts-bar-vertical class="test"
                               [scheme]="colorScheme"
                               [results]="stars"
                               [gradient]="false"
                               [xAxis]="true"
                               [yAxis]="true"
                               [legend]="true"
                               [showXAxisLabel]="false"
                               [showYAxisLabel]="true"
                               [xAxisLabel]="true"
                               [yAxisLabel]="'stars'"
                               (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="container">
    <div class="item">
      <h4>Bundle size</h4>
      <hr>
      <canvas
        baseChart
        chartType="doughnut"
        [data]="singleCharts"
        [labels]="labels"
        [options]="options"
        [legend]="true">
      </canvas>
    </div>
    <div class="item">
      <h4>Number of stars in GitHub</h4>
      <hr>
      <canvas
        baseChart
        chartType="bar"
        [datasets]="starsCharts"
        [options]="options"
        [colors]="colors"
        [legend]="true">
      </canvas>
    </div>
  </div>
  <div class="gallery">
    <div class="chart">
      <h4>Clean angular bundle graph</h4>
      <i *ngIf="chartSubject3 | async" class="fa fa-arrow-circle-right center" ></i>
      <img [appHoverElemnet]="chart3" src="../assets/img/clean.png" alt="">
    </div>
    <div class="chart">
      <h4>ng2charts bundle graph</h4>
      <i *ngIf="chartSubject | async" class="fa fa-arrow-circle-right center" ></i>
      <img   [appHoverElemnet]="chart1" src="../assets/img/ng2charts.png" alt="">
    </div>
    <div class="chart">
      <h4>ngxCharts bundle graph</h4>
      <i *ngIf="chartSubject2 | async" class="fa fa-arrow-circle-right center" ></i>
      <img  [appHoverElemnet]="chart2" src="../assets/img/ngxCharts.png" alt="">
    </div>

  </div>
</div>

